:root {
  /* Specific elements */
  --link: #0089ae;

  /* primary/secondary/shared-color */
  --primary1: #50e3c2;
  --primary2: #50e3c2;
  --primary3: #29bc9b;
  --valid1: var(--grey8);
  --secondary1: #3291ff;
  --secondary2: #0070f3;
  --secondary3: #0761d1;
  --secondary1-offset: #0761d1;
  --warn1: #f5a623;
  --warn1-offset: #ab570a;
  --invalid1: #f33;
  --invalid1-offset: #e60000;
  --invalid2-offset: #5c0000;
  --invalid3-offset: #2e0000;

  /* convert color to primary */
  --convert-to-primary: invert(33%) sepia(61%) saturate(1000%) hue-rotate(171deg) brightness(90%) contrast(101%);

  /* Z indices */
  --z-main: 500;
  --z-footer: 600;
  --z-sidebar: 700;
  --z-header: 800;
  --z-aside: 900;
  --z-modal: 1000;
  --z-toast: 1100;

  /* border-radius */
  --br1: 6px;
  --br2: 8px;
  --br3: 10px;
  --br4: 12px;
  --brhalf: 50%;
  --brfull: 9999px;

  /* padding */
  --p1: 5px;
  --p2: 8px;
  --p3: 10px;
  --p4: 12px;
  --p5: 15px;
  --p6: 20px;
  --p7: 25px;
  --p8: 30px;
  --p9: 35px;

  /* constant width/height */
  --header-height: 3.5rem;
  --footer-height: 5rem;
  --main-min-height: calc(100vh - var(--header-height));
  --max-width-md: 1280px;
  --max-width-lg: 1400px;

  /* FORM */
  --min-form-width: 400px;
  --max-form-width: 440px;
  --form-input-height: 2.25rem;

  /* Transition helpers */
  --duration-1: 150ms;
  --bez-1: cubic-bezier(.4, 0, .2, 1);
  --bez-2: cubic-bezier(.33, 1, .68, 1);
  --bez-3: cubic-bezier(.25, .75, .6, .98);
  --bez-4: cubic-bezier(.25, .75, .6, .98);
  --bez-boxshadow: cubic-bezier(0, 0, 0.2, 1);

  /* fonts */
  --font-sans: 'Inter', ui-sans-serif, system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
}

html {
  font-feature-settings: normal;
  font-size: 18px;
  font-variation-settings: normal;
  line-height: 1.15;
  tab-size: 4;
  text-size-adjust: 100%;
}

body {
  overflow: hidden;

  /* I can't remember why I did this, but I don't
  think I just randomly came up with it lol */
  width: calc(100vw - calc(100vw - 100%));
  height: 100%;
  margin: 0;
  background-color: var(--black1);
  color: var(--white1);
  font-family: var(--font-sans);
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: inherit;
  -webkit-tap-highlight-color: transparent;
  text-rendering: geometricprecision;
}

#root {
  width: 100%;
  height: 100%;
  background-color: var(--black1);
  color: var(--white1);
}

/* GENERAL RESETS
============================ */
h1,
h2,
h3,
h4 {
  font-size: inherit;
  font-weight: inherit;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  border-radius: var(--br1);
  margin: 0;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  appearance: button;
  background-color: transparent;
  background-image: none;
  cursor: pointer
}

input:not([type="checkbox"]),
input:not([type="radio"]) {
  width: 100%;
  max-width: 320px;
  padding: 0.5rem;
  border: var(--border1);
  margin: 0;
  background-color: transparent;
  color: var(--white1);
  font-size: .875rem;
  line-height: 1.15;
  outline: none;
  text-transform: none;
}

textarea {
  width: 100%;
  min-height: 100px;
  padding: 0.5rem;
  border: var(--border1);
  border-radius: var(--br1);
  background-color: transparent;
  color: var(--white1);
  font-size: .875rem;
  line-height: normal;
  resize: none;
  text-transform: none;
}

ul {
  list-style: none;
}

a {
  color: var(--link);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  padding: 0;
  border: 0;
  margin: 0;
  max-block-size: 100%;
  max-inline-size: 100%;
}

button > img,
a > img,
span > img {
  pointer-events: none;
  user-select: none;
}

svg {
  pointer-events: none;
  user-select: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--placeholder1);
  opacity: 1;
}

a:focus-visible,
input:focus-visible,
label:focus-visible,
input[type="radio"]:focus-visible + label,
textarea:focus-visible,
button:focus-visible {
  outline: 1px dotted var(--white1);
}

::selection {
  background-color: var(--selection);
  color: var(--white1);
}

/* ::-WEBKIT
============================ */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto
}

/* ::-MOZ
============================ */
::-moz-focus-inner {
  padding: 0;
  border-style: none
}

:-moz-focusring {
  outline: 1px dotted ButtonText
}

:-moz-ui-invalid {
  box-shadow: none;
}

input[type="number"] {
  appearance: textfield;
}

/* [ATTRIBUTES]
============================ */
img[disabled] {
  appearance: none;
  opacity: .5;
  pointer-events: none;
  user-select: none;
}

input[disabled],
button[disabled],
a[disabled] {
  cursor: not-allowed;
  user-select: none;
}

/* TRANSITION UTILITIES
===================================== */
[data-disable-transitions="true"] * {
  animation: none !important;
  transition: none !important;
  transition-duration: none !important;
  transition-property: none !important;
  transition-timing-function: none !important;
}

/* popup utilities
===================================== */
[data-active-popup="false"] {
  z-index: -1 !important;
  top: 0;
  left: 0;
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  opacity: 0 !important;
  pointer-events: none !important;
  transition: opacity 200ms ease-in-out;
  user-select: none !important;
  visibility: hidden !important;
}

[data-active-popup="true"] {
  z-index: 9999;
  width: 100%;
  height: 100%;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 200ms ease-in-out;
  user-select: auto;
  visibility: visible;
}

/* adaptive font sizes
===================================== */
@media screen and (max-width: 1020px) {
  html {
    font-size: 16px;
  }
}
