:root {
  /* primary/secondary/shared-color */
  --primary1: #0089ae;
  --primary2: #025b74;
  --primary3: #013948;
  --red1: #cf007a;

  /* Z indices */
  --z-main: 500;
  --z-footer: 600;
  --z-sidebar: 700;
  --z-header: 800;
  --z-aside: 900;
  --z-modal: 1000;
  --z-toast: 1100;

  /* border-radius */
  --br-1: 5px;
  --br-2: 8px;
  --br-3: 10px;
  --br-4: 12px;
  --br-half: 50%;
  --br-full: 9999px;

  /* padding */
  --p-1: 5px;
  --p-2: 8px;
  --p-3: 10px;
  --p-4: 12px;
  --p-5: 15px;
  --p-6: 20px;
  --p-7: 25px;
  --p-8: 30px;
  --p-9: 35px;

  /* constant width/height */
  --header-height: 3.5rem;
  --footer-height: 5rem;
  --main-min-height: calc(100vh - var(--header-height) - var(--footer-height));
  --max-width-md: 1280px;
  --max-width-lg: 1400px;

  /* Transition helpers */
  --tbg1: background .15s cubic-bezier(.4, 0, .2, 1);
  --tbg2: background-color .2s cubic-bezier(.4, 0, .2, 1);
  --tbg3: background-color 100ms cubic-bezier(.4, 0, .2, 1);
  --tt1: transform .2s ease-in-out;
  --tc1: color .2s ease-in-out;
  --ttop1: top .2s ease-in-out;
  --topac1: opacity .2s ease-in-out;
  --ttoast1: all .35s cubic-bezier(.25, .75, .6, .98);
  --ttooltip1: all .25s cubic-bezier(.25, .75, .6, .98);
  --bez-1: cubic-bezier(.4, 0, .2, 1);
  --bez-2: cubic-bezier(.33, 1, .68, 1);
  --bez-3: cubic-bezier(.25, .75, .6, .98);
  --bez-4: cubic-bezier(.25, .75, .6, .98);

  /* fonts */
  --font-sans: 'Inter', ui-sans-serif, system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: 'JetBrains_Mono', ui-monospace, sfmono-regular, menlo, monaco, consolas, liberation mono, courier new, monospace;
  --font-decorative: "basement", georgia, sans-serif, -apple-system, ui-sans-serif, system-ui, blinkmacsystemfont, segoe ui, roboto, helvetica neue, arial, noto sans, sans-serif, monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
}

html {
  font-feature-settings: normal;
  font-size: 18px;
  font-variation-settings: normal;
  line-height: 1.15;
  tab-size: 4;
  text-size-adjust: 100%;
}

body {
  width: calc(100vw - calc(100vw - 100%));
  margin: 0;
  background-color: var(--black1);
  color: var(--white1);
  font-family: var(--font-sans);
  font-size: 1rem;
  font-weight: 400;
  line-height: inherit;
}

/* if react... */
#root {
  width: 100%;
  height: 100%;
  background-color: var(--black1);
  color: var(--white1);
}

/* GENERAL RESETS
============================ */
h1,
h2,
h3,
h4 {
  font-size: inherit;
  font-weight: inherit;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  border-radius: var(--br-1);
  margin: 0;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
}

button,
select {
  text-transform: none
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  appearance: button;
  background-color: transparent;
  background-image: none;
  cursor: pointer
}

input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--black2);
  border-radius: var(--br-1);
  margin: 0;
  background: none;
  color: var(--white1);
  font-size: .875rem;
  line-height: 1.15;
  outline: none;
  text-transform: none;
}

textarea {
  width: 100%;
  min-height: 4rem;
  padding: 0.5rem;
  border: 1px solid var(--black2);
  border-radius: var(--br-1);
  background: none;
  color: var(--white1);
  font-size: .875rem;
  resize: vertical;
  text-transform: none;
}

ul {
  list-style: none;
}

a {
  color: var(--link);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  padding: 0;
  border: 0;
  margin: 0;
  max-block-size: 100%;
  max-inline-size: 100%;
}

button > img,
a > img,
span > img {
  pointer-events: none;
  user-select: none;
}

svg {
  fill: var(--white1);
  pointer-events: none;
  user-select: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--placeholder1);
  opacity: 1;
}

a:focus-visible,
input:focus-visible,
label:focus-visible,
input[type="radio"]:focus-visible + label,
textarea:focus-visible,
button:focus-visible {
  outline: 1.5px dotted var(--white1);
}

::selection {
  background-color: var(--selection);
  color: var(--white1);
}

/* ::-WEBKIT
============================ */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto
}

/* ::-MOZ
============================ */
::-moz-focus-inner {
  padding: 0;
  border-style: none
}

:-moz-focusring {
  outline: 1px dotted ButtonText
}

:-moz-ui-invalid {
  box-shadow: none;
}

input[type="number"] {
  appearance: textfield;
}

/* [ATTRIBUTES]
============================ */
img[disabled] {
  appearance: none;
  opacity: .5;
  pointer-events: none;
  user-select: none;
}

input[disabled],
button[disabled],
a[disabled] {
  cursor: not-allowed;
  user-select: none;
}

/* GENERAL UTILITIES
===================================== */
.text-base {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.text-sm {
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.text-lg {
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: -0.025em;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: -0.025em;
  line-height: 1.75rem
}

.text-2xl {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.025em;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: 2.25rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  line-height: 2.5rem;
}

.clip-1,
.clip-1 > * {
  background-clip: text !important;
  color: transparent !important;
  -webkit-text-stroke: 0.04em var(--grey4) !important;
  -webkit-text-stroke-width: 0.03em;
}

.body-prevent-scroll {
  overflow: hidden;
}

.scrollbar-measure {
  position: absolute;
  overflow: scroll;
  visibility: hidden;
}

/* button templates
===================================== */
.btn-1 {
  padding: var(--p-2) var(--p-3);
  border: 1px solid var(--primary1);
  border-radius: var(--br-1);
  background-color: var(--primary1);
  color: var(--white1);
  font-size: .875rem;
  font-weight: 500;
  letter-spacing: .05em;
  line-height: 1.25rem;
  text-transform: uppercase;
  transition: var(--tbg1);
}

.btn-2,
.btn-3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border: var(--border1);
  border-radius: var(--br-1);
  transition-duration: 300ms;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  white-space: nowrap;
}

.btn-2 {
  height: 2.5rem;
  background-color: var(--black2);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}

.btn-3 {
  height: 2rem;
  background-color: transparent;
  font-size: 0.85rem;
  font-weight: 400;
  line-height: 1rem;
}

.btn-2:hover,
.btn-3:hover {
  background-color: var(--black2);
}

/* TRANSITION UTILITIES
===================================== */
[data-disable-transitions="true"] * {
  animation: none !important;
  transition: none !important;
  transition-duration: none !important;
  transition-property: none !important;
  transition-timing-function: none !important;
}

/* popup utilities
===================================== */
[data-active-popup="false"] {
  z-index: -1 !important;
  top: 0;
  left: 0;
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  opacity: 0 !important;
  pointer-events: none !important;
  transition: opacity 200ms ease-in-out;
  user-select: none !important;
  visibility: hidden !important;
}

[data-active-popup="true"] {
  z-index: 9999;
  width: 100%;
  height: 100%;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 200ms ease-in-out;
  user-select: auto;
  visibility: visible;
}

@keyframes slide-down {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(1.5rem);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(15%);
  }
}

@keyframes slight-opacity {
  0% {
    opacity: 1;
  }

  100% {
    opacity: .8;
  }
}

@keyframes ease-modal-in {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pulse-small {
  0% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    opacity: 1;
  }

  100% {
    opacity: .15;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* rem
===================================== */
@media screen and (max-width: 1020px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 390px) {
  html {
    font-size: 14px;
  }
}
